.glitch1:after,.glitch1:before,.glitch:after,.glitch:before{content:""}.glitch,.glitch:after{position:absolute;left:0;right:0}.glitch,.glitch1{bottom:0;color:#fff;text-align:center;text-transform:uppercase;letter-spacing:.6em;text-shadow:2px 0 1px #f6050a,-2px 0 1px #1cf2f2}body{overflow:hidden}@-moz-keyframes glitch{0%{-moz-transform:skew(67deg);transform:skew(67deg)}5%{-moz-transform:skew(15deg);transform:skew(15deg)}10%{-moz-transform:skew(-63deg);transform:skew(-63deg)}15%{-moz-transform:skew(7deg);transform:skew(7deg)}20%{-moz-transform:skew(36deg);transform:skew(36deg)}25%{-moz-transform:skew(72deg);transform:skew(72deg)}30%{-moz-transform:skew(-21deg);transform:skew(-21deg)}35%{-moz-transform:skew(-80deg);transform:skew(-80deg)}40%{-moz-transform:skew(77deg);transform:skew(77deg)}45%{-moz-transform:skew(34deg);transform:skew(34deg)}50%{-moz-transform:skew(47deg);transform:skew(47deg)}55%{-moz-transform:skew(-70deg);transform:skew(-70deg)}60%,80%{-moz-transform:skew(57deg);transform:skew(57deg)}65%{-moz-transform:skew(-19deg);transform:skew(-19deg)}70%{-moz-transform:skew(-67deg);transform:skew(-67deg)}75%{-moz-transform:skew(13deg);transform:skew(13deg)}85%{-moz-transform:skew(-76deg);transform:skew(-76deg)}90%{-moz-transform:skew(-84deg);transform:skew(-84deg)}95%{-moz-transform:skew(-53deg);transform:skew(-53deg)}}@-webkit-keyframes glitch{0%{-webkit-transform:skew(32deg);transform:skew(32deg)}5%{-webkit-transform:skew(-84deg);transform:skew(-84deg)}10%{-webkit-transform:skew(-70deg);transform:skew(-70deg)}15%{-webkit-transform:skew(71deg);transform:skew(71deg)}20%{-webkit-transform:skew(-87deg);transform:skew(-87deg)}25%{-webkit-transform:skew(43deg);transform:skew(43deg)}30%{-webkit-transform:skew(-2deg);transform:skew(-2deg)}35%{-webkit-transform:skew(-66deg);transform:skew(-66deg)}40%{-webkit-transform:skew(-41deg);transform:skew(-41deg)}45%{-webkit-transform:skew(84deg);transform:skew(84deg)}50%{-webkit-transform:skew(77deg);transform:skew(77deg)}55%{-webkit-transform:skew(-75deg);transform:skew(-75deg)}60%{-webkit-transform:skew(-19deg);transform:skew(-19deg)}65%{-webkit-transform:skew(21deg);transform:skew(21deg)}70%{-webkit-transform:skew(-53deg);transform:skew(-53deg)}75%{-webkit-transform:skew(-16deg);transform:skew(-16deg)}80%{-webkit-transform:skew(22deg);transform:skew(22deg)}85%{-webkit-transform:skew(38deg);transform:skew(38deg)}90%{-webkit-transform:skew(57deg);transform:skew(57deg)}95%{-webkit-transform:skew(-52deg);transform:skew(-52deg)}}@keyframes glitch{0%{-moz-transform:skew(-41deg);-ms-transform:skew(-41deg);-webkit-transform:skew(-41deg);transform:skew(-41deg)}5%{-moz-transform:skew(75deg);-ms-transform:skew(75deg);-webkit-transform:skew(75deg);transform:skew(75deg)}10%{-moz-transform:skew(-32deg);-ms-transform:skew(-32deg);-webkit-transform:skew(-32deg);transform:skew(-32deg)}15%{-moz-transform:skew(70deg);-ms-transform:skew(70deg);-webkit-transform:skew(70deg);transform:skew(70deg)}20%{-moz-transform:skew(73deg);-ms-transform:skew(73deg);-webkit-transform:skew(73deg);transform:skew(73deg)}25%{-moz-transform:skew(7deg);-ms-transform:skew(7deg);-webkit-transform:skew(7deg);transform:skew(7deg)}30%{-moz-transform:skew(-15deg);-ms-transform:skew(-15deg);-webkit-transform:skew(-15deg);transform:skew(-15deg)}35%{-moz-transform:skew(-71deg);-ms-transform:skew(-71deg);-webkit-transform:skew(-71deg);transform:skew(-71deg)}40%{-moz-transform:skew(80deg);-ms-transform:skew(80deg);-webkit-transform:skew(80deg);transform:skew(80deg)}45%{-moz-transform:skew(-4deg);-ms-transform:skew(-4deg);-webkit-transform:skew(-4deg);transform:skew(-4deg)}50%{-moz-transform:skew(-51deg);-ms-transform:skew(-51deg);-webkit-transform:skew(-51deg);transform:skew(-51deg)}55%{-moz-transform:skew(32deg);-ms-transform:skew(32deg);-webkit-transform:skew(32deg);transform:skew(32deg)}60%{-moz-transform:skew(8deg);-ms-transform:skew(8deg);-webkit-transform:skew(8deg);transform:skew(8deg)}65%{-moz-transform:skew(39deg);-ms-transform:skew(39deg);-webkit-transform:skew(39deg);transform:skew(39deg)}70%{-moz-transform:skew(-55deg);-ms-transform:skew(-55deg);-webkit-transform:skew(-55deg);transform:skew(-55deg)}75%{-moz-transform:skew(14deg);-ms-transform:skew(14deg);-webkit-transform:skew(14deg);transform:skew(14deg)}80%{-moz-transform:skew(-83deg);-ms-transform:skew(-83deg);-webkit-transform:skew(-83deg);transform:skew(-83deg)}85%{-moz-transform:skew(-40deg);-ms-transform:skew(-40deg);-webkit-transform:skew(-40deg);transform:skew(-40deg)}90%{-moz-transform:skew(-70deg);-ms-transform:skew(-70deg);-webkit-transform:skew(-70deg);transform:skew(-70deg)}95%{-moz-transform:skew(42deg);-ms-transform:skew(42deg);-webkit-transform:skew(42deg);transform:skew(42deg)}}@-moz-keyframes noise{0%{background-position:-39px -6px}10%{background-position:35px -80px}20%{background-position:-65px -79px}30%{background-position:41px -78px}40%{background-position:-49px -24px}50%{background-position:-79px 26px}60%{background-position:-20px 73px}70%{background-position:-44px -13px}80%{background-position:85px -9px}90%{background-position:98px 52px}}@-webkit-keyframes noise{0%{background-position:53px -17px}10%{background-position:75px -74px}20%{background-position:14px 83px}30%{background-position:-42px -4px}40%{background-position:-92px -76px}50%{background-position:-46px 70px}60%{background-position:-60px 22px}70%{background-position:67px -79px}80%{background-position:-14px 83px}90%{background-position:-42px 16px}}@keyframes noise{0%{background-position:-3px 10px}10%{background-position:15px -49px}20%{background-position:-27px -67px}30%{background-position:-52px -52px}40%{background-position:-6px -36px}50%{background-position:-25px -23px}60%{background-position:-95px 59px}70%{background-position:-92px -23px}80%{background-position:28px -99px}90%{background-position:-19px -7px}}@-moz-keyframes bar{0%{height:589px;top:97%;opacity:.74}10%{height:572px;top:57%;opacity:.36}20%{height:269px;top:83%;opacity:.08}30%{height:50px;top:59%;opacity:.6}40%{height:61px;top:85%;opacity:.73}50%{height:372px;top:18%;opacity:.51}60%{height:35px;top:32%;opacity:.32}70%{height:420px;top:66%;opacity:.79}80%{height:342px;top:47%;opacity:.77}90%{height:573px;top:21%;opacity:.06}}@-webkit-keyframes bar{0%{height:236px;top:43%;opacity:.43}10%{height:83px;top:52%;opacity:.08}20%{height:554px;top:26%;opacity:.35}30%{height:511px;top:77%;opacity:.34}40%{height:629px;top:18%;opacity:.36}50%{height:411px;top:88%;opacity:.57}60%{height:122px;top:87%;opacity:.57}70%{height:451px;top:46%;opacity:.18}80%{height:215px;top:40%;opacity:.62}90%{height:337px;top:8%;opacity:.73}}@keyframes bar{0%{height:347px;top:81%;opacity:.73}10%{height:356px;top:60%;opacity:.48}20%{height:126px;top:16%;opacity:.24}30%{height:243px;top:4%;opacity:.55}40%{height:563px;top:60%;opacity:.42}50%{height:423px;top:60%;opacity:.22}60%{height:259px;top:19%;opacity:.75}70%{height:379px;top:28%;opacity:.24}80%{height:132px;top:95%;opacity:.63}90%{height:82px;top:90%;opacity:.68}}.glitch1:before,.glitch:before{height:100%}.glitch{top:0;font:20px Michroma,helvetica,sans-serif;background-image:url(../images/wn20.html);-moz-animation:noise .3s infinite;-webkit-animation:noise .3s infinite;animation:noise .3s infinite}.glitch:before{display:inline-block;vertical-align:middle}.glitch:after{display:block;background:url(../images/wn40.html);-moz-animation:bar .5s infinite;-webkit-animation:bar .5s infinite;animation:bar .5s infinite}.glitch span,.glitch1:before{display:inline-block;vertical-align:middle}.glitch span{position:relative;z-index:1;-moz-animation:glitch 1.8s infinite alternate;-webkit-animation:glitch 1.823s infinite alternate;animation:glitch 1.8s infinite alternate}.glitch1,.glitch1:after{position:absolute;left:0;right:0}.glitch1{top:30;font:15px Michroma,helvetica,sans-serif;background-image:url(../images/wn20.html);-moz-animation:noise .3s infinite;-webkit-animation:noise .3s infinite;animation:noise .5s infinite}.glitch1:after{display:block;background:url(../images/wn40.html);-moz-animation:bar .5s infinite;-webkit-animation:bar .5s infinite;animation:bar .5s infinite}.glitch1 span{display:inline-block;vertical-align:middle;position:relative;z-index:1;-moz-animation:glitch 1s infinite alternate;-webkit-animation:glitch 1s infinite alternate;animation:glitch 1s infinite alternate}
@import url('https://fonts.googleapis.com/css?family=Hind|Montserrat'); 

@import url('https://fonts.googleapis.com/css?family=Roboto');
* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -ms-filter: grayscale(50%);
  -o-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  -ms-filter: blur(6px);
  -o-filter: blur(6px);
  -moz-filter: blur(6px);
  -webkit-filter: blur(6px);
  filter: grayscale(50%);
  filter: blur(6px);
  background-image:url('images/3px.html');
  background-repeat:repeat;

}
#vidtop-content {
  top: 0;
  color: #fff;
}
.vid-info { 
  position: absolute;
 top: 0; 
 right: 0;
  width: 33%;
  background: rgba(0,0,0,0.3);
   color: #fff; 
   padding: 1rem;
    font-family: Avenir, Helvetica, sans-serif; 
  }
.vid-info h1 {
   font-size: 2rem; 
   font-weight: 700;
    margin-top: 0;
     line-height: 1.2; 
  }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; 
    }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; 
  }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem;
 }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}
  #iframe { 
    position: absolute;
    float: left;
    clear: both;
    width: 100%;
    height: 350px;
    z-index: 0;
    left no-repeat;
     }
.divide{padding:0;margin:0;margin-bottom:30px;background:#1e5799;
  background:-moz-linear-gradient(left,#1e5799 0%,#f300ff 50%,#e0ff00 100%);
  background:-webkit-gradient(linear,left top,right top,color-stop(0%,#1e5799),color-stop(50%,#f300ff),color-stop(100%,#e0ff00));
  background:-webkit-linear-gradient(left,#1e5799 0%,#f300ff 50%,#e0ff00 100%);
  background:-o-linear-gradient(left,#1e5799 0%,#f300ff 50%,#e0ff00 100%);
  background:-ms-linear-gradient(left,#1e5799 0%,#f300ff 50%,#e0ff00 100%);
  background:linear-gradient(to right,#1e5799 0%,#f300ff 50%,#e0ff00 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799',endColorstr='#e0ff00',GradientType=1);
  height:3px;border-bottom:1px solid #000;}
  a:link {
    color: #666666;
    -webkit-transition-duration: .4s;
  }
  a:visited {
    color: #666666;
    -webkit-transition-duration: .4s;
  }
  a {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-color: white;
    -webkit-transition-duration: .4s;
  }
    a:hover {
    -webkit-transition-duration: .4s;
    color: #ff0050;
    font-size: 30px;
  }
  html {
    color: #604949;
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top, #000000 0%, #4f4f4f 52%, #848484 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #000000 0%,#4f4f4f 52%,#848484 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #000000 0%,#4f4f4f 52%,#848484 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-shadow: 1px 1px #000;
  }
  h1 {
  -webkit-animation-delay: 5s
  }
  p {
  font-family: 'Roboto', sans-serif;
}
html {
    overflow: auto;
}
body {
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    padding: 30px; 
    overflow-y: scroll;
    overflow-x: hidden;
}
.left {
  margin-right: 100%;
}
.right {
  margin-left: 100%;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,140,0,0.1); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.0); 
}
.quote {
  font-size: 15px;
}
.time {
  font-size: 25px;
  color: white;
}
.delay-2 {
animation-delay: 2s;
}
.button {
  size: 17;
    -webkit-transition-duration: 0.4s; /* Safari */
    -o-transition-duration: 0.4s; /* Safari */
    -moz-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.3s;
      background: rgba(0,0,0,0);
      border-radius: 16px;
      color: #666666;
      border: 2px solid #666666;
      border-radius: 4px;
      text-shadow: 1px 1px #000;
}
.button:hover {
    background: rgba(255,255,255,0);
    font-size: 19px;
    color: #ff0050;
    border-color: #ff0050;
    }
#typing {
  text-shadow: 1px 1px #000;
}
.marquee {
  width: 310px;
  overflow: hidden;
}

#names{
  font-size:30px;
}

* {
  margin:0;
  padding:0;
  outline:none;
  list-style:none;
  text-decoration:none;
  box-sizing:border-box;
  border:none;
  z-index: 30;
}

body {
  background: black;
  opacity:1;
  cursor:url(../../www.cursor.cc/cursor/566/87/cursor.png), auto;
  font-family: 'Hind', sans-serif;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

.container {
  position: initial;
  height: auto;
  right: 10303px;
      float: right;
    text-align: right;
   width: 1000px;
    margin:-230px auto 30px auto;
    padding:10px;

}

{
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}

/* EFFECT */
.effect {
  font-size: 6vw;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  font-weight: 700;
  display: inline-block;
  position: relative;
 -webkit-background-clip: text;
  background-clip: text;
  background: -webkit-linear-gradient(0deg, #FFFFFF 50%, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 100% 0;
  background-size:200% 100%;
  transition: 0.6s all cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.8s;
}

.effect:before{
  content: "";
  height: 100%;
  width: 100%;
  background: #eaeaea;
  z-index: 2;
  display: block;
  position: absolute;
  top: 0;left: 0;
  transform-origin: left;
  transform: scaleX(0);
}
.effect:after{
  content: "";
  height: 100%;
  width: 100%;
  background: #222;
  z-index: 2;
  display: block;
  position: absolute;
  top: 0;left: 0;
  transform-origin: left;
  transform: scaleX(0);
}
.effect.active {
  color:white;
  background-position: 0 0;
}

.effect.active:before {
  color: #FFFFFF;
    animation: anime 1.2s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
}
.effect.active:after {
  color: #FFFFFF;
    animation: anime 1.2s 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
}
@keyframes anime {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  51%{
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}



.cta {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  cursor:url(../../www.cursor.cc/cursor/589/85/cursor.png), auto;
  font-size: 0.7em;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  line-height: 2em;
  padding: 2px 10px;
  background: #FFFFFF;
  margin-top: 20px;
  transition: 0.2s all ease-out;
  -webkit-transition: 0.2s all ease-out;
  -moz-transition: 0.2s all ease-out;
  color: #FFF;
  transition: 0.3s all ease-out;
  -webkit-transition: 0.3s all ease-out;
  -moz-transition: 0.3s all ease-out;
  letter-spacing: 1px;
}

a.cta.outline {
  position: relative;
  background: transparent;
  border: 1px solid #FFFFFF;
  cursor:url(../../www.cursor.cc/cursor/589/85/cursor.png), auto;
  overflow: hidden;
  
}



.cta.outline:before {
  content: "";
  height: 100%;
  z-index: -1;
  width: 100%;
  cursor:url(../../www.cursor.cc/cursor/589/85/cursor.png), auto;
  background: #222;
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transition: 0.6s transform cubic-bezier(1.000, 0.610, 0.165, 1.000);
  -webkit-transition: 0.6s transform cubic-bezier(1.000, 0.610, 0.165, 1.000);
  -moz-transition: 0.6s transform cubic-bezier(1.000, 0.610, 0.165, 1.000);
  transform-origin:right;
  -webkit-transform-origin:right;
}
.cta.outline span {
  position: relative;
  z-index: 3;
   -webkit-background-clip: text;
   cursor:url(../../www.cursor.cc/cursor/589/85/cursor.png), auto;
  background-clip: text;
  background: -webkit-linear-gradient(0deg, #29a329 50%, #FFFFFF 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 100% 0;
  color: white; text-decoration: none;
  background-size:200% 100%;
  color: transparent;
  transition: 0.6s all cubic-bezier(1.000, 0.610, 0.165, 1.000) 0.2s;
  -webkit-transition: 0.6s all cubic-bezier(1.000, 0.610, 0.165, 1.000) 0.2s;
  -moz-transition: 0.6s all cubic-bezier(1.000, 0.610, 0.165, 1.000) 0.2s;
}
.cta.outline:hover:before {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform-origin:left;
  -webkit-transform-origin:left;
  cursor:url(../../www.cursor.cc/cursor/589/85/cursor.png), auto;
}
.cta.outline:hover{
  box-shadow: none;
  cursor:url(../../www.cursor.cc/cursor/589/85/cursor.png), auto;
}
.cta.outline:hover span{
  background-position: 0 0;
  cursor:url(../../www.cursor.cc/cursor/589/85/cursor.png), auto;
}

.fade {
  opacity: 1;
  transform: translateY(20px);
  cursor:url(../../www.cursor.cc/cursor/589/85/cursor.png), auto;
  transition: 0.6s all ease-out 2s;
}
a.fade {
  transition: 0.6s all ease-out 2.6s;
  cursor:url(../../www.cursor.cc/cursor/589/85/cursor.png), auto;
}
.fade.active {
  transform: translateY(0);
  opacity: 1;
  color: #FFFFFF;
  cursor:url(../../www.cursor.cc/cursor/589/85/cursor.png), auto;
}



section {
  text-align: center;
  padding: 0 2  0%;
  height: 81vh;
}
.wrap {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.container {
  position: static;
  width: 101%;
  height: -689%;
}

@-webkit-keyframes animStar {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
}

@keyframes animStar {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
}

@media (max-width: 1000px) {
  .title {
    font-size: 32px;
  }
}
@media (max-width: 550px) {
  .title {
    display: none;
  }
}
